.footer-text {
  /* float: right; */
  text-align: right;
}

@media (max-width: 575.98px) {
  .footer .footer-container {
    text-align: center;
  }

  .footer .footer-container .logo-wrapper-text p{
    text-align: center;
  }
  .footer .footer-text {
    text-align: center;
  }
}
