.text-content #box {
  text-transform: capitalize;
  text-align: center;
  width: 100%;
  font-size: 30px;
  font-family: sans-serif;
}

.quote a {
  text-decoration: none;
  border-radius: 3px;
  color: #9999a3;
}
.quote {
  background-color: #ffffff;
  color: #4a4a5e;
  font-size: 30px;
  font-style: italic;
  position: absolute;
  width: 500px;
  margin: 0 280px;
  padding-left: 10px;
}

.card a {
  text-decoration: none;
}

.update .row .card {
  padding: 10px;
}

.list-group-item img {
  width: 200px;
}

.news-content .update .row .card {
  align-items: center;
}
