.text-content #box {
  text-transform: capitalize;
  text-align: center;
  width: 100%;
  font-size: 30px;
  font-family: sans-serif;
}

.card a {
  text-decoration: none;
}

/* .news-content .card{
  width: 400px;
} */

.update .row .card {
  padding: 10px;
}

.list-group-item img {
  width: 200px;
}

.news-content .update .row .card {
  align-items: center;
}

.periodical-documents .row .card{
  height: 50px;
  margin: 10px ;
  text-align: center;
  justify-content: center;
}

.notification .card{
  width: 600px;
  margin: 10px;
}

.notification .see-all{
  width: 250px;
}

@media (max-width: 575.98px) {
  .card-text{
    font-size: 12px;
  }
}